
/* font-family: Abel */
@font-face{
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}

/* font-family: Lato */
@font-face{
    font-family: Lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

/* font-family: Montserrat */
@font-face{
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

/* font-family: Oswald */
@font-face{
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

/* font-family: Roboto */
@font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
/* font-family: Anton */
@font-face{
    font-family: Anton;
    src: url('../fonts/Anton/Anton-Regular.ttf');
}
/* font-family: Lexend */
@font-face{
    font-family: Lexend;
    src: url('../fonts/Lexend/Lexend-Regular.ttf');
}
/* font-family: Livvic */
@font-face{
    font-family: Livvic;
    src: url('../fonts/Livvic/Livvic-Regular.ttf');
}
/* font-family: Josefin_Sans */
@font-face{
    font-family: Josefin;
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}
/* font-family: Poppins */
@font-face{
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
